In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Dataset

In [2]:
!wget https://www.dropbox.com/sh/xh8rdvrvkak3diz/AAD2vtlsi4-BrwBnSAyk__F5a?dl=1

--2020-11-07 08:14:19--  https://www.dropbox.com/sh/xh8rdvrvkak3diz/AAD2vtlsi4-BrwBnSAyk__F5a?dl=1
Resolving www.dropbox.com (www.dropbox.com)... 162.125.1.1, 2620:100:6016:1::a27d:101
Connecting to www.dropbox.com (www.dropbox.com)|162.125.1.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /sh/dl/xh8rdvrvkak3diz/AAD2vtlsi4-BrwBnSAyk__F5a [following]
--2020-11-07 08:14:19--  https://www.dropbox.com/sh/dl/xh8rdvrvkak3diz/AAD2vtlsi4-BrwBnSAyk__F5a
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc31ccf20f1f7135b4c436a629b0.dl.dropboxusercontent.com/zip_download_get/AmJiujDLdE2FhyU2FkITINWULupZMUzHfQaVvdrpT3tV-H_VYrEE2OoTZdyo_skOOurkug6wwh-wB4BT11O_2ccvOewH8foFywykrzZELnI8PA?dl=1 [following]
--2020-11-07 08:14:20--  https://uc31ccf20f1f7135b4c436a629b0.dl.dropboxusercontent.com/zip_download_get/AmJiujDLdE2FhyU2FkITINWULupZMUzHfQaVvdrpT3tV-H_VYrEE2OoTZdyo_skOOurkug6wwh-wB4BT11O_2ccvOewH8foFywykrzZELnI8PA?dl=1
Resolving uc31ccf20f1f7135b4c436a629b0.dl.dropboxusercontent.com (uc31ccf20f1f7135b4c436a629b0.dl.dropboxusercontent.com)... 162.125.1.15, 2620:100:6016:15::a27d:10f
Connecting to uc31ccf20f1f7135b4c436a629b0.dl.dropboxusercontent.com (uc31ccf20f1f7135b4c436a629b0.dl.dropboxusercontent.com)|162.125.1.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 52658267 (50M) [application/zip]
Saving to: ‘AAD2vtlsi4-BrwBnSAyk__F5a?dl=1’

AAD2vtlsi4-BrwBnSAy 100%[===================>]  50.22M   168MB/s    in 0.3s

2020-11-07 08:14:20 (168 MB/s) - ‘AAD2vtlsi4-BrwBnSAyk__F5a?dl=1’ saved [52658267/52658267]

In [3]:
!wget https://www.dropbox.com/sh/eyl9ci8xzg7ta54/AAB6GD8bT6B8nj9LhlI0g3mXa?dl=1

--2020-11-07 08:14:20--  https://www.dropbox.com/sh/eyl9ci8xzg7ta54/AAB6GD8bT6B8nj9LhlI0g3mXa?dl=1
Resolving www.dropbox.com (www.dropbox.com)... 162.125.1.1, 2620:100:6016:1::a27d:101
Connecting to www.dropbox.com (www.dropbox.com)|162.125.1.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /sh/dl/eyl9ci8xzg7ta54/AAB6GD8bT6B8nj9LhlI0g3mXa [following]
--2020-11-07 08:14:21--  https://www.dropbox.com/sh/dl/eyl9ci8xzg7ta54/AAB6GD8bT6B8nj9LhlI0g3mXa
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc31dbc99cb59b9f96ad24578746.dl.dropboxusercontent.com/zip_download_get/AmJGkgsihq8z8DUxRZCF2vM3tevWPzIPBBvDCc6Jt44pKrZrArENzKUAnZpMaL_ufWborUYmKjfYgvUsUo1E9_zrwJUDzpdduihzL_e5y_378A?dl=1 [following]
--2020-11-07 08:14:21--  https://uc31dbc99cb59b9f96ad24578746.dl.dropboxusercontent.com/zip_download_get/AmJGkgsihq8z8DUxRZCF2vM3tevWPzIPBBvDCc6Jt44pKrZrArENzKUAnZpMaL_ufWborUYmKjfYgvUsUo1E9_zrwJUDzpdduihzL_e5y_378A?dl=1
Resolving uc31dbc99cb59b9f96ad24578746.dl.dropboxusercontent.com (uc31dbc99cb59b9f96ad24578746.dl.dropboxusercontent.com)... 162.125.1.15, 2620:100:6016:15::a27d:10f
Connecting to uc31dbc99cb59b9f96ad24578746.dl.dropboxusercontent.com (uc31dbc99cb59b9f96ad24578746.dl.dropboxusercontent.com)|162.125.1.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13430822 (13M) [application/zip]
Saving to: ‘AAB6GD8bT6B8nj9LhlI0g3mXa?dl=1’

AAB6GD8bT6B8nj9LhlI 100%[===================>]  12.81M  56.7MB/s    in 0.2s

2020-11-07 08:14:22 (56.7 MB/s) - ‘AAB6GD8bT6B8nj9LhlI0g3mXa?dl=1’ saved [13430822/13430822]

In [4]:
!unzip AAD2vtlsi4-BrwBnSAyk__F5a?dl=1
!unzip AAB6GD8bT6B8nj9LhlI0g3mXa?dl=1

Archive:  AAD2vtlsi4-BrwBnSAyk__F5a?dl=1
warning:  stripped absolute path spec from /
mapname:  conversion of  failed
 extracting: Train.csv

1 archive had fatal errors.
Archive:  AAB6GD8bT6B8nj9LhlI0g3mXa?dl=1
warning:  stripped absolute path spec from /
mapname:  conversion of  failed
 extracting: Test.csv
 extracting: Sample_submission.csv

1 archive had fatal errors.

In [5]:
dataset = pd.read_csv("./Train.csv")

In [6]:
dataset.shape

(40000, 2)

In [7]:
dataset.head()

                                              review label
0  mature intelligent and highly charged melodram...   pos
1  http://video.google.com/videoplay?docid=211772...   pos
2  Title: Opera (1987) Director: Dario Argento Ca...   pos
3  I think a lot of people just wrote this off as...   pos
4  This is a story of two dogs and a cat looking ...   pos

In [8]:
# The dataset is a balanced dataset
dataset['label'].value_counts()

pos    20011
neg    19989
Name: label, dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [10]:
y = dataset['label'].values

In [11]:
y = le.fit_transform(y)

In [12]:
np.unique(y, return_counts=True)

(array([0, 1]), array([19989, 20011]))

In [13]:
dataset['review'][1]

'http://video.google.com/videoplay?docid=211772166650071408&hl=en Distribution was tried.<br /><br />We opted for mass appeal.<br /><br />We want the best possible viewing range so, we forgo profit and continue our manual labor jobs gladly to entertain you for working yours.<br /><br />View Texas tale, please write about it... If you like it or not, if you like Alex or not, if you like Stuie, Texas or Texas tale... Just write about it.<br /><br />Your opinion rules.'

# Preprocessing the data

In [14]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [15]:
from nltk.corpus import stopwords

In [16]:
sw = set(stopwords.words('english'))

In [17]:
len(sw)

179

In [18]:
## For stemming
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [19]:
# for regular Expression
import re

In [20]:
def cleanText(sample):

    sample = sample.lower()
    sample = sample.replace("<br /><br />", "")

    # if the pattern is not fulfilled (^)
    # then it will be replaced by a space
    sample = re.sub("[^a-zA-Z]+", " ", sample)

    # Stopword removal + stemming 

    sample = sample.split()

    sample = [ps.stem(s) for s in sample if s not in sw]

    # joining the sentence
    sample = ' '.join(sample)

    return sample

In [21]:
dataset['review'][11]

'Robert Jordan is a television star. Robert Jordan likes things orderly, on time and properly executed. In his world children are to be seen, not heard. So why would Mr. Jordan want to become the master of a rambunctious band of Boy Scouts? Ratings. His staff figures that if learns how to interact with the youth, they will be more inclined to watch his show. Of course watching Jordan cope comprises most of the fun.<br /><br />Like Mr. Belvedere and Mr. Belvedere Goes to College this one is sure to please.<br /><br />ANYONE INTERESTED IN OBTAINING A COPY OF THIS FILM PLEASE WRITE TO ME AT: IAMASEAL2@YAHOO.COM'

In [22]:
cleanText(dataset['review'][11])

'robert jordan televis star robert jordan like thing orderli time properli execut world children seen heard would mr jordan want becom master rambuncti band boy scout rate staff figur learn interact youth inclin watch show cours watch jordan cope compris fun like mr belveder mr belveder goe colleg one sure pleas anyon interest obtain copi film pleas write iamas yahoo com'

In [23]:
# It will apply the function to all the reviews !!
dataset['cleaned_review'] = dataset['review'].apply(cleanText)

In [24]:
dataset

                                                  review  ...                                     cleaned_review
0      mature intelligent and highly charged melodram...  ...  matur intellig highli charg melodrama unbelive...
1      http://video.google.com/videoplay?docid=211772...  ...  http video googl com videoplay docid hl en dis...
2      Title: Opera (1987) Director: Dario Argento Ca...  ...  titl opera director dario argento cast cristin...
3      I think a lot of people just wrote this off as...  ...  think lot peopl wrote anoth one tom cruis weir...
4      This is a story of two dogs and a cat looking ...  ...  stori two dog cat look way back home old wise ...
...                                                  ...  ...                                                ...
39995  There are similarities between Ray Lawrence's ...  ...  similar ray lawrenc jindabyn last movi lantana...
39996  For starters, I once met the director when he ...  ...  starter met director go ww enact period movi c...
39997  Much of "Over Her Dead Body" is so painfully u...  ...  much dead bodi pain unfunni actual squirm seat...
39998  "Lifeforce" is a truly bizarre adaptation of t...  ...  lifeforc truli bizarr adapt novel space vampir...
39999  I saw this movie at a screener and its the bes...  ...  saw movi screener best movi seen loooong time ...

[40000 rows x 3 columns]

In [25]:
corpus = dataset['cleaned_review'].values

In [26]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer , TfidfVectorizer

In [27]:
# Discarding words with freq > 0.5
cv = CountVectorizer(max_df= 0.5, max_features=50000)

In [28]:
X = cv.fit_transform(corpus)

In [29]:
X.shape

(40000, 50000)

In [30]:
# X is a sparse Matrix
X

<40000x50000 sparse matrix of type '<class 'numpy.int64'>'
	with 3619721 stored elements in Compressed Sparse Row format>

- If we try to convert this Sparse Matrix into numpy array
- Then we will get Memory Error as this matrix is huge

In [31]:
print(X[0])

  (0, 26138)	1
  (0, 21816)	1
  (0, 20351)	1
  (0, 9499)	1
  (0, 26560)	1
  (0, 44629)	1
  (0, 9931)	1
  (0, 47634)	2
  (0, 39856)	2
  (0, 30823)	1
  (0, 9026)	1
  (0, 25039)	1
  (0, 43630)	1
  (0, 36910)	1
  (0, 35372)	1
  (0, 25474)	1
  (0, 41058)	1

In [32]:
tfidf = TfidfTransformer()

In [33]:
X = tfidf.fit_transform(X)

In [34]:
X.shape

(40000, 50000)

In [35]:
type(X[0])

scipy.sparse.csr.csr_matrix

In [36]:
## Preprocessed Data
print(X.shape)
print(y.shape)

(40000, 50000)
(40000,)

## Neural Network

In [37]:
# Training and Validation

X_val = X[:5000]
Y_val = y[:5000]

X_train = X[5000:]
Y_train = y[5000:]

In [38]:
print(X_train.shape, Y_train.shape)
print(X_val.shape, Y_val.shape)

(35000, 50000) (35000,)
(5000, 50000) (5000,)

In [39]:
from keras.callbacks import ModelCheckpoint

In [40]:
import keras
class batch_generator(keras.utils.Sequence):
  
  def __init__(self,X,Y,batch_size):
    self.X = X
    self.Y = Y
    self.batch_size = batch_size

  
  def __len__(self):
    return (self.X.shape[0]// self.batch_size)
  
  def __getitem__(self,item):
    x_ = self.X[self.batch_size*item : self.batch_size*(item + 1)].toarray()
    y_ = self.Y[self.batch_size*item : self.batch_size*(item + 1)]
    # .toarray()

    return x_, y_

In [41]:
train_generator = batch_generator(X_train,Y_train,batch_size=16)
val_generator = batch_generator(X_val,Y_val,batch_size=16)

from keras.models import Sequential
from keras.layers import Dense

model = Sequential()

model.add( Dense(16, activation='relu', input_shape=( X.shape[1], )))
model.add( Dense(16, activation='relu'))

model.add(Dense(1, activation='sigmoid'))
model.summary()


model.compile(
    optimizer='rmsprop',
    loss="binary_crossentropy",
    metrics=['acc']
)

checkpoint = ModelCheckpoint("best_model.h5", monitor='val_acc', save_best_only=True)
hist = model.fit(train_generator, batch_size=256, epochs=20, validation_data=val_generator, callbacks=[checkpoint])

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 16)                800016
_________________________________________________________________
dense_1 (Dense)              (None, 16)                272
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 17
=================================================================
Total params: 800,305
Trainable params: 800,305
Non-trainable params: 0
_________________________________________________________________
Epoch 1/20
2187/2187 [==============================] - 11s 5ms/step - loss: 0.3264 - acc: 0.8759 - val_loss: 0.2582 - val_acc: 0.8918
Epoch 2/20
2187/2187 [==============================] - 11s 5ms/step - loss: 0.2164 - acc: 0.9135 - val_loss: 0.2658 - val_acc: 0.8902
Epoch 3/20
2187/2187 [==============================] - 10s 5ms/step - loss: 0.1978 - acc: 0.9222 - val_loss: 0.2756 - val_acc: 0.8888
Epoch 4/20
2187/2187 [==============================] - 10s 5ms/step - loss: 0.1878 - acc: 0.9275 - val_loss: 0.2702 - val_acc: 0.8904
Epoch 5/20
2187/2187 [==============================] - 10s 5ms/step - loss: 0.1811 - acc: 0.9299 - val_loss: 0.2711 - val_acc: 0.8908
Epoch 6/20
2187/2187 [==============================] - 11s 5ms/step - loss: 0.1752 - acc: 0.9325 - val_loss: 0.2783 - val_acc: 0.8904
Epoch 7/20
2187/2187 [==============================] - 11s 5ms/step - loss: 0.1710 - acc: 0.9345 - val_loss: 0.2786 - val_acc: 0.8908
Epoch 8/20
2187/2187 [==============================] - 10s 5ms/step - loss: 0.1665 - acc: 0.9375 - val_loss: 0.2813 - val_acc: 0.8918
Epoch 9/20
2187/2187 [==============================] - 10s 5ms/step - loss: 0.1623 - acc: 0.9392 - val_loss: 0.2767 - val_acc: 0.8916
Epoch 10/20
2187/2187 [==============================] - 11s 5ms/step - loss: 0.1582 - acc: 0.9414 - val_loss: 0.2887 - val_acc: 0.8906
Epoch 11/20
2187/2187 [==============================] - 11s 5ms/step - loss: 0.1538 - acc: 0.9445 - val_loss: 0.2982 - val_acc: 0.8858
Epoch 12/20
2187/2187 [==============================] - 11s 5ms/step - loss: 0.1490 - acc: 0.9476 - val_loss: 0.2924 - val_acc: 0.8884
Epoch 13/20
2187/2187 [==============================] - 11s 5ms/step - loss: 0.1441 - acc: 0.9503 - val_loss: 0.2989 - val_acc: 0.8880
Epoch 14/20
2187/2187 [==============================] - 11s 5ms/step - loss: 0.1385 - acc: 0.9531 - val_loss: 0.3031 - val_acc: 0.8872
Epoch 15/20
2187/2187 [==============================] - 11s 5ms/step - loss: 0.1339 - acc: 0.9553 - val_loss: 0.3250 - val_acc: 0.8860
Epoch 16/20
2187/2187 [==============================] - 11s 5ms/step - loss: 0.1293 - acc: 0.9587 - val_loss: 0.3180 - val_acc: 0.8900
Epoch 17/20
2187/2187 [==============================] - 11s 5ms/step - loss: 0.1247 - acc: 0.9594 - val_loss: 0.3286 - val_acc: 0.8864
Epoch 18/20
2187/2187 [==============================] - 11s 5ms/step - loss: 0.1204 - acc: 0.9615 - val_loss: 0.3255 - val_acc: 0.8890
Epoch 19/20
2187/2187 [==============================] - 11s 5ms/step - loss: 0.1168 - acc: 0.9628 - val_loss: 0.3308 - val_acc: 0.8890
Epoch 20/20
2187/2187 [==============================] - 11s 5ms/step - loss: 0.1130 - acc: 0.9647 - val_loss: 0.3462 - val_acc: 0.8870

## Testing

In [42]:
test = pd.read_csv("Test.csv")

test.head()

                                              review
0  Remember those old kung fu movies we used to w...
1  This movie is another one on my List of Movies...
2  How in the world does a thing like this get in...
3  "Queen of the Damned" is one of the best vampi...
4  The Caprica episode (S01E01) is well done as a...

In [45]:
# It will apply the function to all the reviews !!
test['cleaned_review'] = test['review'].apply(cleanText)

In [46]:
X_test = test["cleaned_review"].values

In [47]:
print(X_test.shape)

(10000,)

In [48]:
# Vectorizing
X_test = cv.transform(X_test)

In [49]:
print(X_test.shape)

(10000, 50000)

In [50]:
# tfidf Normalization
X_test = tfidf.transform(X_test)

In [51]:
model.load_weights("best_model.h5")

In [53]:

class test_generator(keras.utils.Sequence):
  
  def __init__(self,X,batch_size):
    self.X = X
    self.batch_size = batch_size

  
  def __len__(self):
    return (self.X.shape[0]// self.batch_size)
  
  def __getitem__(self,item):
    x_ = self.X[self.batch_size*item : self.batch_size*(item + 1)].toarray()

    return x_

In [59]:
test_gen = test_generator(X_test, batch_size=16)

In [60]:
pred = model.predict_classes(test_gen)

In [61]:
pred.shape

(10000, 1)

In [62]:
df = pd.read_csv("Sample_submission.csv")

In [63]:
df.head()

   Id label
0   0   pos
1   1   pos
2   2   pos
3   3   pos
4   4   pos

In [64]:
print(len(df))

10000

In [65]:
pred_trans = le.inverse_transform(pred)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:289: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [66]:
pred_trans

array(['neg', 'neg', 'neg', ..., 'pos', 'pos', 'neg'], dtype=object)

In [67]:
df['label'] = pred_trans

In [70]:
df.to_csv("Answer.csv", index=False)

In [69]:
df.head()

   Id label
0   0   neg
1   1   neg
2   2   neg
3   3   pos
4   4   pos